html {
    height: 100%;
}

body {
    /* height: 100%; */
    margin: 0;
    background: #35353d;
    /* margin-left: 50px; */
}

#title {
    /* margin-top: 20px; */
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 50px;
    /* color: #ffffff; */
    color: #35353d;
    margin: 0;
}

#orange {
    background-color: #c56308;
    height: 5px;
}

#yello {
    background-color: #c59b08;
    height: 5px;
}

.wave {
    background: linear-gradient(to right, #ffffff, #ffffff);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px 0 5px 0;
}

.wave {
    padding: 5px 0 15px 0;
}

.wave::before,
.wave::after {
    border-bottom: 5px solid #35353d;
}

.wave::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background-size: 20px 40px;
    background-image: radial-gradient(circle at 10px -15px, transparent 20px, #35353d 21px);
}

.wave::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle at 10px 26px, #35353d 20px, transparent 21px);
}


/* #logo {
    width: 5%;
    height: 5%;
    float: right;
    position: static;
} */

.button_slide {
    color: #FFF;
    border: 2px solid rgb(89, 63, 184);
    border-radius: 10px;
    padding: 10px 36px;
    display: inline-block;
    font-family: 'Bebas Neue';
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(89, 63, 184);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin: 16px;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 rgb(89, 63, 184);
}

#outer {
    /* width: 364px; */
    margin: 15px 0 0 0;
    text-align: center;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.ratetxt {
    font-family: 'Assistant';
    /* font-family: 'Bebas Neue'; */
    color: #FFF;
}

.rate {
    /* float: left; */
    height: 30px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    /* float: right; */
    width: 1em;
    align-self: center;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}


/* #outer {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} */